@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'Roboto Mono', monospace;
}

@layer base {
  :root {
    --background: 38 100% 95%;
    --foreground: 38 5% 0%;
    --card: 38 50% 90%;
    --card-foreground: 38 5% 10%;
    --popover: 38 100% 95%;
    --popover-foreground: 38 100% 0%;
    --primary: 38 25% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 38 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 30% 85%;
    --muted-foreground: 38 5% 35%;
    --accent: 0 30% 80%;
    --accent-foreground: 38 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 38 5% 90%;
    --border: 38 30% 50%;
    --input: 38 30% 18%;
    --ring: 38 25% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 38 50% 5%;
    --foreground: 38 5% 90%;
    --card: 38 50% 0%;
    --card-foreground: 38 5% 90%;
    --popover: 38 50% 5%;
    --popover-foreground: 38 5% 90%;
    --primary: 38 25% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 38 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 30% 15%;
    --muted-foreground: 38 5% 60%;
    --accent: 0 30% 15%;
    --accent-foreground: 38 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 38 5% 90%;
    --border: 38 30% 18%;
    --input: 38 30% 18%;
    --ring: 38 25% 63%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply font-bold;
    @apply text-3xl;
    @apply pt-4;
    @apply pb-2;
    @apply leading-tight;
  }

  h2 {
    @apply font-bold;
    @apply text-2xl;
    @apply pt-3;
    @apply pb-1;
    @apply leading-tight;
  }

  h3 {
    @apply font-medium;
    @apply text-xl;
    @apply pt-2;
    @apply pb-1;
    @apply leading-snug;
  }

  p {
    @apply font-normal;
    @apply text-sm;
    @apply pb-2;
    @apply leading-5;
  }

  li {
    @apply text-sm;
    line-height: 1em;
  }
  a {
    @apply text-black;
  }
}
